@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Praça de Tomar Nº2<br />
    Tomar<br />
    <abbr title="Phone">P:</abbr>
    123456798
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@newst.com">Support@newst.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@newst.com">Marketing@newst.com</a>
</address>